footer {
  background-color: #E5E5E5;
  margin-top: 120px;
  height: 284px;
  .footerContainer {
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1200px;
    .footerLogoContainer {
      display: flex;
      align-items: center;
    }
    .footerSection {
      margin-top: 64px;
      .sectionTitle {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 24px;
      }
      a,
      .sectionContent {
        text-decoration: none;
        color: #808080;;
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
      }
      .socialIconGroup {
        margin-top: 8px;
        img {
          margin-right: 14px;
          cursor: pointer;
        }
      }
    }
  }
}